#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.header {
    text-align: center;
    background-color: #1f1f1f55;
    backdrop-filter: blur(16px);
    box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: .5rem;
}

.block-container {
    padding-top: 7rem;
}

[data-testid="stForm"] {
    border: 0
}

[role="radiogroup"] {
    justify-content: center
}

.stRadio label {
    justify-content: center
}

.stRadio label p {
    font-size: 1.25em;
    text-align: center
}

.streamlit-expanderHeader [data-testid="stMarkdownContainer"] p {
    font-size: 1.25em
}

.ftext {
    border-top: gray 1px solid;
    padding-top: 10px;
    color: white;
    text-align: center;
}

.name {
    font-weight: bold;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #666;
    margin: 0 auto;
}

td {
    border: 1px solid #666;
    padding: 5px;
}

.pt {
    padding-top: 10px;
}

.mt {
    margin-top: 10px;
    text-align: center;
}

.submarks {
    font-weight: 600;
    text-align: center;
}

img {
    border-radius: 15px !important;
}
