#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.footer_new {
    z-index: 999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0e1117;
    color: white;
    text-align: right;
}

.ftext {
    border-top: gray 1px solid;
    padding-top: 10px;
    color: white;
    text-align: center;
}

.name {
    font-weight: bold;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #666;
}

td {
    border: 1px solid #666;
    padding: 5px;
}

.pt {
    padding-top: 10px;
}

.mt {
    margin-top: 10px;
}
